@charset "utf-8";
/* CSS Document */
.banner{width:100%; height:548px; background:url(../img/banner.jpg) no-repeat center top; position:relative;}
.banner img{display:block; margin:0 auto;}
.yycg{width:130px; height:127px; display:block; background:url(../img/cy_23.png) no-repeat; position:absolute; top:336px; right:170px;}
.banner a:hover{width:144px; height:140px; display:block; background:url(../img/yuyue_hover.png) no-repeat; position:absolute; top:336px; right:170px;}
.top_text_bj{width:100%; height:293px; background:url(../img/kxye_25.jpg);}
.top_text{width:1000px; height:250px; padding-top:43px;}
.top_text_left{width:474px; height:230px; background-color:#2778ba; padding:20px 0 0 20px; margin-right:4px;}
.top_text p{font-size:14px; color:#FFF; line-height:28px; padding-top:20px;}
.photo{margin-right:4px;}
.top_text_right{width:228px; height:230px; background-color:#0172c0; padding:20px 0 0 20px;}
.middle_text_bj{width:100%; height:568px; background:url(../img/img-12.jpg) no-repeat center top;}
.middle_text{width:1000px; height:568px; background-color:#f6e5af;}
.middle_text ul li{float:left; margin:3px 6px 2px 0;}
.li1{width:217px; height:220px; background:url(../img/kxye_60.jpg); padding:30px 0 0 30px;}
.li1 p{padding-top:12px;}
.li1 p a{font-size:14px; color:#FFF; line-height:27px;}
.li1 p a:hover{text-decoration:underline;}
.li2{width:227px; height:214px; background:url(../img/ah_75.jpg); padding:36px 0 0 20px;}
.li2 p{font-size:14px; color:#fff; line-height:27px; padding-top:25px;}
.below_text_bj{width:100%; height:510px; background:url(../img/bh_95.jpg) no-repeat center top;}
.title{display:block; margin:0 auto; padding-top:50px;}
.below_text{width:1000px; height:406px; margin-top:40px;}
.below_text_content{width:250px; height:406px;}
.li3{width:225px; height:33px; background:url(../img/img-22.jpg) no-repeat;font-size:16px; color:#666; padding:68px 0  0 22px; position:relative;}
.li4{width:225px; height:32px; background:url(../img/img-23.jpg) no-repeat; margin-bottom:5px; font-size:16px; color:#666; padding:80px 0  0 22px; position:relative;}
.li5{width:225px; height:32px; background:url(../img/img-24.jpg) no-repeat; margin-bottom:5px;font-size:16px; color:#666; padding:80px 22px 0 0; text-align:right;}
.li6{width:247px; height:170px; background:url(../img/img-25.jpg) no-repeat;}
.li7{width:230px; height:60px; background-color:#f6f6f6; line-height:60px; padding-left:20px; font-size:16px; color:#666; margin-bottom:5px; position:relative;}
.li8{width:228px; height:32px; background:url(../img/img-30.jpg) no-repeat; font-size:16px; color:#666; padding:68px 0  0 22px;position:relative;}
.ico{position:absolute; left:-15px; top:39px;}
.ico1{position:absolute; right:-15px; top:42px;}
.ico2{position:absolute; left:112px; bottom:-15px;}
.faculty{width:100%; height:660px; background:url(../img/bh_104.jpg) no-repeat center top; position:relative;}
.photo_wall{display:block; position:absolute; left:150px; top:63px;}
.faculty_right{width:355px; height:98px; background:url(../img/img-32.jpg) no-repeat center top; position:absolute; left:780px; top:313px; padding-top:86px; font-size:18px; color:#fff; line-height:38px;}
.bottom_bj{width:100%; height:487px; background:url(../img/by_113.jpg) no-repeat center top;}
.bottom{width:1000px; height:271px; margin:0 auto;}
.bottom_left{width:473px; height:274px; background:url(../img/img-33.jpg) no-repeat; padding-top:77px; font-size:18px; color:#FFF; line-height:38px; text-indent:2em; margin-top:80px;}
.bottom img{float:right; display:block; padding-top:40px;}